body{font:20px arial, sans-serif ;

}

.navbar {
    background-color: dodgerblue;
}
.quem-somos {
    background-color:slategray ;
    color:white;

}
.margin{
    padding-bottom:50px ;
    padding-top: 10px;
}

.parceiros{
    background-color:lightsteelblue;
}
.bg-footer{
    background-color: black;
    color:white;
}